.container1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    }

.container1 li {
    float: right;
    }
.container1  li a{
    display: block;
    color: rgb(245, 239, 239);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.container1   li a:hover {
    background-color: #111;
    }

    * {
        box-sizing: border-box;
      }
      
      .box {
        float: left;
        width: 33.33%;
        height: 250px;
        padding: 10px;
        border: 1px solid #ddd;
      }
      
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
.id1::first-letter {
    font-size: 200%;

}


/*-----------*/

.vertical-menu {
  width: auto;
}

.vertical-menu a {
  display:block;
  padding: 4px;
  text-decoration: none;
  padding-left: 130px;
  color: white;
  size:16pt;
}

/*.vertical-menu a:hover {
  background-color: black;
}

.vertical-menu a.active {
  background-color:black;
  color: black;
}  */